.levels {
    display: flex;
}

.levelImg > img{

    width: 13rem;
   
}

.technologies{
    display: flex;
    justify-content: space-around;
}

.techImg > img {
    width: 8rem;
    height: 8rem;
}